/vendor
/node_modules
/public/storage
Homestead.yaml
Homestead.json
.env
/public/assets/uploads/
/public/assets/uploads/academia/
/public/assets/uploads/campana/
/public/assets/uploads/clase_grupal/
/public/assets/uploads/fiesta/
/public/assets/uploads/producto/
/public/assets/uploads/programacion/
/public/assets/uploads/servicio/
/public/assets/uploads/taller/
/public/assets/uploads/usuario/